flask
pytest
coverage
waitress
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
# opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-sqlite3
opentelemetry-exporter-jaeger
requests
prometheus-client