apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskr
  labels:
    app: flaskr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaskr
  template:
    metadata:
      labels:
        app: flaskr
    spec:
      initContainers:
      - name: init-sqlite
        image: deepvoid/flaskr
        env:
          - name: FLASK_APP
            value: "flaskr"
          - name: FLASK_ENV
            value: "development"
        command: ['flask', 'init-db']
        volumeMounts:
        - name: db-volume
          mountPath: /app/instance
      containers:
      - name: flaskr
        image: deepvoid/flaskr
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        volumeMounts:
        - name: db-volume
          mountPath: /app/instance
      imagePullSecrets:
        - name: regcred
      volumes:
        - name: db-volume
          emptyDir: {}